body{
    margin: 0;
    padding: 0;
    background-image: url(img_pro.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#img_title{
    display: flex;
}

#logo{
    border-radius: 50px;
    margin-right: 20px;
}

#recherche{
    width: 250px;
}

.button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.img{
    border-bottom-left-radius: 37px;
    border-top-left-radius: 37px;
}


#fart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px gray solid;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin-top: 100px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#fart2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px gray solid;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.txt{
    margin-left: 25px;
    margin-right: 25px;
}

.img{
    height: 250px;
    width: 450px;
}



















footer{
    display: flex;
    justify-content: center;
    color: white;
}

.ftr{
    margin-left: 50px;
}