body{
    margin: 0;
    padding: 0;
    background-image: url(../img_viper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#img_title{
    display: flex;
}

#logo{
    border-radius: 50px;
    margin-right: 20px;
}

#recherche{
    width: 250px;
}

.button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





#title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


#contact{
    border: 2px brown solid;
    margin-bottom: 40px;
}




.azerty{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: white ;
}





#title2{
    display: flex;
    justify-content: center;
    text-align: center;
}



#end{
    display: flex;
    justify-content: center;
    color: white;
}

