body{
    margin: 0;
    padding: 0;
    background-image: url(img_fond.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#img_title{
    display: flex;
}

#logo{
    border-radius: 50px;
    margin-right: 20px;
}

#recherche{
    width: 250px;
}

.button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#content{
    margin-top: 100px;
}


.img{
    width: 500px;
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;
}


#title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}



.car{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border: 2px solid grey;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.title_text{
    margin-left:20px;
    margin-right: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.see_car{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

footer{
    display: flex;
    justify-content: center;
    color: white;
}

.ftr{
    margin-left: 50px;
}